@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap');
body   
{ 
  background-image: url(doc.png); 
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  

}  
header {  
background-color: rgb(5, 13, 121);  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 25px 0 black;  

}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: rgb(254, 254, 255);  
text-decoration: none;  
}  
.company{
  text-align: center;
  color: white;
}
h1{
  font-size: 80px;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Righteous', cursive;
}
p{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}