@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Righteous&display=swap');
.header{
  
    margin: 0%;
    display: inline;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 13, 65);
  }

  li a {
    display: block;
    color: rgb(255, 247, 247);
    text-align: center;
    padding: 11px 12px;
    text-decoration: none;
    font-size: 20px;
    
  }
  
  .contact:hover {
    background-color: rgb(38, 146, 209);
  }
  body{
    background-image: url('doc.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
 .active{
   width:max-content;
   align-content: center;
   float: left;
   font-size: 30px;
   font-family: 'Righteous', cursive;
   

 }
 .active:hover{
  color: rgb(38, 146, 209) ;
 }
 .contact{
   justify-content: right;
   float: right;
   border: 1px solid white;
   border-radius: 15px;
   margin-right: 10px ;
   margin-top: 5px;
 }
 .company{
  color: white;
  font-size: 200px;
  text-align: center;
 
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Righteous', cursive;
}
.tag{
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
 
}
.row{
  justify-items: center;
  padding-top: 50px;
  
}